OPENAI_API_KEY=your_openai_api_key_here
GOOGLE_API_KEY=your_google_api_key_here
GOOGLE_CSE_ID=your_google_cse_id_here
SERPER_KEY=your_serper_key_here
Google_API_Point=your_google_api_here

POSTGRES_HOST=your_postgres_host_here
POSTGRES_DB=your_postgres_db_here
POSTGRES_USER=your_postgres_user_here
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_PORT=your_postgresport_here
POSTGRES_AGENT_DB=your_postgresport_agentdb_here

AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_REGION=your_aws_region_here

OPENSEARCH_HOST=your_opensearch_host_here
OPENSEARCH_INDEX_NAME=your_opensearch_index_here
OPENSEARCH_USERNAME=your_opensearch_username_here
OPENSEARCH_PASSWORD=your_opensearch_password_here
USE_AWS_OPENSEARCH=your_opensearch_option_here

BEDROCK_REGION=your_bedrock_region_here
BEDROCK_EMBEDDING_MODEL_ID=your_bedrock_embedding_model_id_here
BEDROCK_LLM_MODEL_ID=your_bedrock_llm_model_id_here
BEDROCK_AWS_PROFILE=bedrock-account
BEDROCK_AWS_ACCESS_KEY_ID=your_bedrock_key_here
BEDROCK_AWS_SECRET_ACCESS_KEY=your_bedrock_secret_here
BEDROCK_LLM_MODELID=your_bedrock_llm_model_id_here