OPENAI_API_KEY=your_openai_api_key_here
GOOGLE_API_KEY=your_google_api_key_here
GOOGLE_CSE_ID=your_google_cse_id_here
SERPER_KEY=your_serper_key_here

POSTGRES_HOST=your_postgres_host_here
POSTGRES_DB=your_postgres_db_here
POSTGRES_USER=your_postgres_user_here
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_PORT=5432

AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_REGION=us-east-1

OPENSEARCH_HOST=your_opensearch_host_here
OPENSEARCH_INDEX_NAME=rag-vector-index
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD=your_opensearch_password_here
USE_AWS_OPENSEARCH=False

BEDROCK_REGION=us-east-1
BEDROCK_EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0
BEDROCK_LLM_MODEL_ID=us.amazon.nova-lite-v1:0
BEDROCK_AWS_PROFILE=bedrock-account
BEDROCK_AWS_ACCESS_KEY_ID=your_bedrock_key_here
BEDROCK_AWS_SECRET_ACCESS_KEY=your_bedrock_secret_here
